<h2>New Place</h2>

<form action="/places" method="post">
  <label for="place[title]">Name:</label>
  <input name="place[title]">

  <label for="place[photo_url]">Photo URL:</label>
  <input name="place[photo_url]">

  <label for="place[location]">Location:</label>
  <input name="place[location]">

  <label for="place[description]">Description:</label>
  <input name="place[description]">

  <input type="submit" value="Create">
</form>