<section id="pinBoot">
  <article class="white-panel">
  <form action="/places" method="post">
  <h2>New Place</h2>
    <h4><input class="col-lg-12" name="place[title]" placeholder="Title"></h4>
    <hr>
    <input class="col-lg-12" name="place[photo_url]" placeholder="Media/image URL">
    <input id="location" class="col-lg-12" name="place[location]" placeholder="Location">
    <hr>
    <textarea class="col-lg-12" rows="7" name="place[description]" placeholder="Description"></textarea>
    <button type="submit" class="btn btn-sm btn-primary btn-secondary pull-right" style="float:right">Create</button>
  </form>
  </article>
</section>
<div class="whitespace"></div>

<!-- pass in the found point name and location (and coords?) from the search -->