<footer>
  <a href="http://twitter.com/neogeo360"><img src="images/twitter-wrap.png" alt="Twitter Logo" class="social-icon">  @neogeo360</a>
  <a href="http://github.com/mnorelli"><img src="images/icon-github.png" alt="Github Logo" class="social-icon">  mnorelli</a>
  <a href="mailto:mnorelli360@gmail.com"><img src="images/gmail.png" alt="Gmail Logo" class="social-icon">  mnorelli 360 at gmail dot com</a>
  <p>&copy; 2016 Michael Norelli</p>
</footer>